# Node: dependencies & logs
node_modules/
npm-debug.log

# typings: additional TypeScript definitions
typings/

# IntelliJ IDEA: project files
.idea/

# TypeScript: transpiled files
src/app/**/*.js
src/app/**/*.js.map
